BITMAP_1 BITMAP "card_1.bmp"


BITMAP_2 BITMAP "card_2.bmp"


BITMAP_3 BITMAP "card_3.bmp"


BITMAP_4 BITMAP "card_4.bmp"


BITMAP_5 BITMAP "card_5.bmp"


BITMAP_6 BITMAP "card_6.bmp"


BITMAP_7 BITMAP "card_7.bmp"


BITMAP_8 BITMAP "card_8.bmp"


BITMAP_9 BITMAP "card_9.bmp"


BITMAP_10 BITMAP "card_10.bmp"


BITMAP_11 BITMAP "card_11.bmp"


BITMAP_12 BITMAP "card_12.bmp"


BITMAP_13 BITMAP "card_13.bmp"


BITMAP_14 BITMAP "card_14.bmp"


BITMAP_15 BITMAP "card_15.bmp"


BITMAP_16 BITMAP "card_16.bmp"


BITMAP_17 BITMAP "card_17.bmp"


BITMAP_18 BITMAP "card_18.bmp"


BITMAP_19 BITMAP "card_19.bmp"


BITMAP_20 BITMAP "card_20.bmp"


BITMAP_21 BITMAP "card_21.bmp"


BITMAP_22 BITMAP "card_22.bmp"


BITMAP_23 BITMAP "card_23.bmp"


BITMAP_24 BITMAP "card_24.bmp"


BITMAP_25 BITMAP "card_25.bmp"


BITMAP_26 BITMAP "card_26.bmp"


BITMAP_27 BITMAP "card_27.bmp"


BITMAP_28 BITMAP "card_28.bmp"


BITMAP_29 BITMAP "card_29.bmp"


BITMAP_30 BITMAP "card_30.bmp"


BITMAP_31 BITMAP "card_31.bmp"


BITMAP_32 BITMAP "card_32.bmp"


BITMAP_33 BITMAP "card_33.bmp"


BITMAP_34 BITMAP "card_34.bmp"


BITMAP_35 BITMAP "card_35.bmp"


BITMAP_36 BITMAP "card_36.bmp"


BITMAP_37 BITMAP "card_37.bmp"


BITMAP_38 BITMAP "card_38.bmp"


BITMAP_39 BITMAP "card_39.bmp"


BITMAP_40 BITMAP "card_40.bmp"

