body {
  background-color: lightseagreen;
  color: white;
}
.button {
  background-color: gray;
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
}
.button.button-large {
  padding: 15px 75px;
}
div.card {
  background-image: url('../images/cards.png');
  display: inline-block;
  height: 324px;
  width: 202px;
}
div.card__0 {
  background-position: 0 0;
}
div.card__1 {
  background-position: -202px 0;
}
div.card__2 {
  background-position: -404px 0;
}
div.card__3 {
  background-position: -606px 0;
}
div.card__4 {
  background-position: -808px 0;
}
div.card__5 {
  background-position: -1010px 0;
}
div.card__6 {
  background-position: -1212px 0;
}
div.card__7 {
  background-position: -1414px 0;
}
div.card__8 {
  background-position: -1616px 0;
}
div.card__9 {
  background-position: -1818px 0;
}
div.card__10 {
  background-position: 0 -647px;
}
div.card__11 {
  background-position: -202px -647px;
}
div.card__12 {
  background-position: -404px -647px;
}
div.card__13 {
  background-position: -606px -647px;
}
div.card__14 {
  background-position: -808px -647px;
}
div.card__15 {
  background-position: -1010px -647px;
}
div.card__16 {
  background-position: -1212px -647px;
}
div.card__17 {
  background-position: -1414px -647px;
}
div.card__18 {
  background-position: -1616px -647px;
}
div.card__19 {
  background-position: -1818px -647px;
}
div.card__20 {
  background-position: 0 -970px;
}
div.card__21 {
  background-position: -202px -970px;
}
div.card__22 {
  background-position: -404px -970px;
}
div.card__23 {
  background-position: -606px -970px;
}
div.card__24 {
  background-position: -808px -970px;
}
div.card__25 {
  background-position: -1010px -970px;
}
div.card__26 {
  background-position: -1212px -970px;
}
div.card__27 {
  background-position: -1414px -970px;
}
div.card__28 {
  background-position: -1616px -970px;
}
div.card__29 {
  background-position: -1818px -970px;
}
div.card__30 {
  background-position: 0 -324px;
}
div.card__31 {
  background-position: -202px -324px;
}
div.card__32 {
  background-position: -404px -324px;
}
div.card__33 {
  background-position: -606px -324px;
}
div.card__34 {
  background-position: -808px -324px;
}
div.card__35 {
  background-position: -1010px -324px;
}
div.card__36 {
  background-position: -1212px -324px;
}
div.card__37 {
  background-position: -1414px -324px;
}
div.card__38 {
  background-position: -1616px -324px;
}
div.card__39 {
  background-position: -1818px -324px;
}

div.card__-1 {
  background-image: none;
  background-color: white;
  opacity: 0.2;
  border-radius: 15px;
}
div.card__100 {
  height: 304px;
  width: 182px;
  background-image: none;
  background: repeating-linear-gradient(
    45deg,
    gray,
    gray 10px,
    lightseagreen 10px,
    lightseagreen 20px
  );
  border-radius: 15px;
  border: solid whitesmoke 10px;
  box-shadow: 1px 1px 1px 1px gray;
}